<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
<h1> playing video : {{playfile}} ...</h1>



<video controls preload src={{filepname}} >
Your browser does not support the video tag.
</video>

<!-- <h1> img show </h1> -->

<!-- <img src="http://127.0.0.1/ts/jiajiandong/eg_tulip.jpg"  alt="上海鲜花港 - 郁金香" /> -->


</body>
</html>

